*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50% , rgba(0,0,0,0.5)50%), url(Images/orange.jpg.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
nav{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.list{
    display: flex;
    margin-right: 60px;
}
.list ul{
    display: flex;
    gap: 50px;
    align-items: center;
    list-style-type: none;
    
}
.list a{
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.list a:hover{
color: orange;
text-decoration: underline;
}
.container{
    border: 1px solid ;
    height: 90vh;
    width: 40%;
    background-color: rgba(31, 30, 30, 0.705);
    border-radius: 25px;
    margin-left: 25rem;
    margin-top: 4rem;
}
.login{
    background-color: black;
    padding: 15px 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 10rem;
    border: none;
}
.login a:hover{
    color: white;
}
.login a{
    color: orange;
}
.input{
    margin-top: 2rem;
    color: aliceblue;
    text-align: center;
    box-sizing: border-box;
    
}
.input-1{
    padding: 15px 45px;
    background-color: rgba(12, 12, 12, 0.363);
    border: none;
    margin-bottom: 1rem;
    margin-left: 3rem;
    text-align: start;
    font-size: 18px;
    color: white;
}
.input-2{
    padding:15px 45px;
    background-color: rgba(12, 12, 12, 0.363);
    border: none;
    text-align: start;
    margin-left: 3rem;
    margin-bottom: 1rem;
    font-size: 18px;
    color: white;
}